/* Created by Chiranjaya Chandrasena */
/* IT20183554 */
body{
	background-color:#f0f2f5;
}

/* back button */
.back:hover{
	transform: translateY(-5px);
	transition-duration: 0.3s;
}
.back_img{
	height:15px;
	width:10px;
	margin-left:10px;
}

.back_btn{
	background-color:#f0f2f5;
	border: none;
	text-align:center;
	font-size:17px;
	padding-left:0px;
}

/* book name */
.h1{
	margin-left:60px;
}

/* book image */
.book{
	height:290px;
	width:210px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top:60px;
	margin-left:60px;
	
}

.bookdetail{
	margin:50px;
	font-family:Helvetica;
	background-color:#fff;
	border-radius:20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.detail{
	font-size:25px;
	margin-left:320px;
	margin-top:-280px;
	
}

.des{
	font-style: italic;
	text-align:left;
	font-size:25px;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	margin-top:120px;
}

/* book description */
.p{
	text-align:center;
	font-size:30px;
	border-style:solid;
	border-width: 3px;
	padding-top:60px;
	padding-bottom:60px;
	margin-left:60px;
	margin-right:60px;
}	

/* reserve button */
.rbutton {
	margin-left:60px;
	background-color: #4CAF50;
	color: white;
	font-size: 16px;
	border: none;
	height:40px;
	width:110px;
	margin-bottom:30px;
	border-radius:20px;
}

.rbutton:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: translateY(-5px);
	transition-duration: 0.3s;
	cursor:pointer;
}	


